<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="MonkeyMotionControl.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="serviceBehavior" name="Staubli.Wcf.DebugService.DebugService">
        <endpoint address="" binding="basicHttpBinding" contract="Staubli.Wcf.DebugService.IDebugService"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:5656"/>
          </baseAddresses>
          <timeouts closeTimeout="00:00:01"/>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="serviceBehavior">
          <serviceMetadata httpGetEnabled="false" httpGetUrl=""/>
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <bindings>
      <basicHttpBinding>
        <binding name="CS8ServerV0BindingConfig" closeTimeout="00:00:10" openTimeout="00:00:10" receiveTimeout="00:10:00" sendTimeout="00:00:10" bypassProxyOnLocal="true" useDefaultWebProxy="false" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" allowCookies="false" hostNameComparisonMode="StrongWildcard">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="UserName" algorithmSuite="Default"/>
          </security>
        </binding>
      </basicHttpBinding>

      <customBinding>
        <binding name="MtomBindingConfig">
          <mtomMessageEncoding maxReadPoolSize="64" maxWritePoolSize="16" messageVersion="Soap12"/>
          <httpTransport maxBufferPoolSize="52428800" bypassProxyOnLocal="true" useDefaultWebProxy="false" maxReceivedMessageSize="6553600" allowCookies="false" authenticationScheme="Anonymous" keepAliveEnabled="true" maxBufferSize="6553600" proxyAuthenticationScheme="Anonymous" transferMode="Buffered" unsafeConnectionNtlmAuthentication="false"/>
        </binding>
      </customBinding>
    </bindings>

    <client>
      <endpoint contract="Staubli.Robotics.Soap.Proxies.ServerV0.CS8ServerV0PortType" name="CS8ServerV0" binding="basicHttpBinding" bindingConfiguration="CS8ServerV0BindingConfig"/>

      <endpoint contract="Staubli.Robotics.Soap.Proxies.ServerV1.CS8ServerV1PortType" name="CS8ServerV1" binding="customBinding" bindingConfiguration="MtomBindingConfig"/>

      <endpoint contract="Staubli.Robotics.Soap.Proxies.ServerV2.CS8ServerV2PortType" name="CS8ServerV2" binding="customBinding" bindingConfiguration="MtomBindingConfig"/>

      <endpoint contract="Staubli.Robotics.Soap.Proxies.ServerV3.CS8ServerV3PortType" name="CS8ServerV3" binding="customBinding" bindingConfiguration="MtomBindingConfig"/>
    </client>
  </system.serviceModel>

  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
  <userSettings>
    <MonkeyMotionControl.Properties.Settings>
      <setting name="TOOLCONTROLLER_TCU_PORTNAME" serializeAs="String">
        <value>COM12</value>
      </setting>
      <setting name="TOOLCONTROLLER_TRT_PORTNAME" serializeAs="String">
        <value>COM7</value>
      </setting>
      <setting name="ROBOT_TCP_IPADDRESS" serializeAs="String">
        <value>192.168.11.50</value>
      </setting>
      <setting name="LENSPROFILE_TRT_DEFAULT" serializeAs="String">
        <value>Default</value>
      </setting>
      <setting name="ROBOT_RUNSTREAM_INTERVAL" serializeAs="String">
        <value>50</value>
      </setting>
      <setting name="ROBOT_LIVEMOVE_INTERVAL" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="ROBOT_LIVEMOVE_STEPSIZE" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="ROBOT_LIVEMOVE_STEPSIZEMAX" serializeAs="String">
        <value>20</value>
      </setting>
      <setting name="SIM_EXP1_VEL" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="SIM_EXP1_ACC" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="SIM_EXP1_DEC" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="SIM_EXP1_LEAVE" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="SIM_EXP1_REACH" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="ROBOT_DEFAULT_LEAVE" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="ROBOT_DEFAULT_REACH" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="ROBOT_RUNSYNC_INTERVAL" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="ROBOT_RUNCOMMANDS_INTERVAL" serializeAs="String">
        <value>50</value>
      </setting>
      <setting name="TOOLCONTROLLER_AUTOCONNECT_TRT" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="TOOLCONTROLLER_AUTOCONNECT_TCU" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="VIDEOCAPTURE_AUTOSTART" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ROBOT_EXPORT2_INTERVAL" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="ROBOT_SAFETY_VELOCITY" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="ROBOT_SAFETY_ACCEL" serializeAs="String">
        <value>25</value>
      </setting>
      <setting name="ROBOT_SAFETY_DECEL" serializeAs="String">
        <value>25</value>
      </setting>
      <setting name="TOOLCONTROLLER_FOCUS_DEADBAND" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="TOOLCONTROLLER_IRIS_DEADBAND" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="TOOLCONTROLLER_ZOOM_DEADBAND" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="TOOLCONTROLLER_AUX_DEADBAND" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="TARGET_POINT_X" serializeAs="String">
        <value>2000</value>
      </setting>
      <setting name="TARGET_POINT_Y" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="TARGET_POINT_Z" serializeAs="String">
        <value>550</value>
      </setting>
      <setting name="SIMULATOR_SYNCFOCUS_INTERVAL" serializeAs="String">
        <value>50</value>
      </setting>
      <setting name="ROBOT_RUNSYNC_TIMEOUT" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="ROBOT_TCP_FEEDBACK_SIZE" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="ROBOT_TCP_PORT_MOTION" serializeAs="String">
        <value>1000</value>
      </setting>
      <setting name="ROBOT_TCP_PORT_FEEDBACK" serializeAs="String">
        <value>2000</value>
      </setting>
      <setting name="SIM_CALCTHREAD_INTERVAL" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="COUNTDOWN_DURATION" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="RANGEFINDER_PORTNAME" serializeAs="String">
        <value>COM6</value>
      </setting>
      <setting name="RANGEFINDER_AUTOCONNECT" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="RANGEFINDER_REFRESHRATE" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="CAMERA_SYNC" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="RUN_SYNC_DELAY" serializeAs="String">
        <value>20</value>
      </setting>
      <setting name="PHANTOM_REFRESH_INTERVAL" serializeAs="String">
        <value>500</value>
      </setting>
      <setting name="DURATION" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="COUNTDOWN_ALERT" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ROBOT_LIVEMOVE_TRACKING_STEPSIZE" serializeAs="String">
        <value>0.5</value>
      </setting>
      <setting name="ROBOT_LIVEMOVE_TRACKING_STEPSIZEMAX" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="ROBOT_LIVEMOVE_TRACKING_INTERVAL" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="CAMERA_RED_PORTNAME" serializeAs="String">
        <value>COM3</value>
      </setting>
      <setting name="CAMERA_RED_REFRESHRATE" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="CAMERA_RED_AUTOCONNECT" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ROBOT_DEFAULT_ACC" serializeAs="String">
        <value>70</value>
      </setting>
      <setting name="ROBOT_DEFAULT_DEC" serializeAs="String">
        <value>70</value>
      </setting>
      <setting name="ROBOT_DEFAULT_VEL" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="ROBOT_CMDMODE_REHEARSE_AUTOFOCUS" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CAMERA_AUTOSAVE_FOOTAGE" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TOOLCONTROLLER_FOCUS_POSITION_DEFAULT" serializeAs="String">
        <value>5000</value>
      </setting>
      <setting name="CAMERA_BOTTOM_OFFSET_X" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="CAMERA_BOTTOM_OFFSET_Y" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="CAMERA_BOTTOM_OFFSET_Z" serializeAs="String">
        <value>165</value>
      </setting>
      <setting name="CAMERA_FRONT_OFFSET_X" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="CAMERA_FRONT_OFFSET_Y" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="CAMERA_FRONT_OFFSET_Z" serializeAs="String">
        <value>200</value>
      </setting>
      <setting name="CAMERA_AUTOSTOP_RECORDING" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CAMERA_STOP_RECORDING_DELAY" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ROBOT_LIVEMOVE_TRACKING_LEAVE" serializeAs="String">
        <value>50</value>
      </setting>
      <setting name="ROBOT_LIVEMOVE_TRACKING_REACH" serializeAs="String">
        <value>50</value>
      </setting>
      <setting name="ROBOT_LIVEMOVE_TRACKING_VEL" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="ROBOT_LIVEMOVE_TRACKING_ACCEL" serializeAs="String">
        <value>20</value>
      </setting>
      <setting name="ROBOT_LIVEMOVE_TRACKING_DECEL" serializeAs="String">
        <value>20</value>
      </setting>
      <setting name="VIDEOCAPTURE_SELECTED" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="VIDEOCAPTURE_SELECTED_NAME" serializeAs="String">
        <value>NA</value>
      </setting>
      <setting name="ROBOT_START_DELAY" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="CAMERA_SELECTED_INDEX" serializeAs="String">
        <value>0</value>
      </setting>
    </MonkeyMotionControl.Properties.Settings>
  </userSettings>
</configuration>
